body {
    backgorund-image: url("https://gitlab.com/rifqotu/public/-/raw/main/CSS/pattern.jpg")
}

nav {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    z-index: 10;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 0px 10px;
}

header {
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 99;
    color: #fffff;
}

h1 {
    text-align: center;
}

footer {
    backgorund-color: #000000;
    text-align: center;
    text-decoration: none;
    position: fixed;
}